
.content {
    background: #f8fcfb;
    padding: 2.5rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}

h1 {
    font-size: 3.5rem;
    color: #00b2ca;
}

h2 {
    font-size: 5rem;
    padding-bottom: 1rem;
}

.botones {
    display: flex;
    gap: 1.5rem;
}

button {
    font-size: 1.3rem;
    padding: 1rem;
    width: 10rem;
    background: #00b2ca;  
    border: none;
    color: #f5f4f4;
    border-radius: 3rem;
    cursor: pointer;
}

